/* Estilos para el formulario de contacto */
.contact-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #00A2E0;
    color: black;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: black;
}
textarea {
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5ab5e2;
    color: white;
}

h2 {
    text-align: center;
    padding: 30px;
}

h4 {
    text-align: center;
    margin-top: 10px;
}

footer{
    margin-top: 44px;
}