/* Configuracion menu hamburguesa */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Poppins", sans-serif;
    --color1: #ffffff ;
    --color2:#00A2E0 ;
    cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo39.cur), auto

}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}

.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
/* Fin hamburguesa */

.image-container {
    display: flex;
    justify-content: center;
}

.tenda {
    max-width: 100%;
}



/* Estilos para el footer */
footer {
    background-color: #00A2E0;
    color: white;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 44px;
}

/* Estilos adicionales para mejorar apariencia en móviles */
@media (max-width: 768px) {
    footer {
        position: relative;
        margin-top: 20px;
        position: relative;
    }
}

.carousel-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 600px;
}

.img-centrada {
    display: block;
    margin: 0 auto;
    max-width: 62%;
    height: auto;
}



.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}
p {
    text-align: center;
}
p em {
    font-style: italic;
}
p u {
    text-decoration: underline;
}

#titulo{
    text-align: center;
    color: #00A2E0;
    font-weight: bold;
    margin-top: 20px;
}