.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

section {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}
section h1 {
  margin: 40px 0 20px 0;
  font-size: 2em;
  text-align: center;
}

article {
  width: calc(86% / 3);
  padding: 2%;
  float: left;
}
article .article-title {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}
article .article-img {
  height: 180px;
  background-color: #000;
  overflow: hidden;
}
article .article-txt {
  padding: 20px;
  color: #fff;
  background-color: #000;
}
article .article-txt h2 {
  margin: 0 0 10px 0;
  font-size: 1.25em;
  font-weight: bolder;
}

img {
  width: 100%;
  vertical-align: bottom;
  transition: 0.5s;
}
img.zoom-in:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
}
img.rotate:hover {
  -webkit-transform: scale(2) rotate(25deg);
  transform: scale(2) rotate(25deg);
}
img.zoom-out:hover {
  transform: scale(0.9);
}
img.blur:hover {
  filter: blur(10px);
}
img.brightness:hover {
  filter: brightness(200%);
}
img.contrast:hover {
  filter: contrast(200%);
}
img.drop-shadow:hover {
  filter: drop-shadow(4px 4px 4px #555);
}
img.grayscale:hover {
  filter: grayscale(200%);
}
img.hue-rotate:hover {
  filter: hue-rotate(90deg);
}
img.invert:hover {
  filter: invert(200%);
}
img.opacity:hover {
  filter: opacity(75%);
}
img.saturate:hover {
  filter: saturate(200%);
}
img.sepia:hover {
  filter: sepia(200%);
}